# From Website

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://www.iplt20.com/auction"
r = requests.get(url)
r
soup = BeautifulSoup(r.text,"lxml")

In [3]:

names = soup.find_all("div",class_="agv-team-name")
name=[]
for i in names:
    print(i.text)
    name.append(i.text)

Chennai Super Kings
Delhi Capitals
Gujarat Titans
Kolkata Knight Riders
Lucknow Super Giants
Mumbai Indians
Punjab Kings
Rajasthan Royals
Royal Challengers Bengaluru
Sunrisers Hyderabad

In [4]:
funds = soup.find_all("div",class_="avg-fund-remaining")
#data = funds.find_all("span",class_="fr-fund")
fund=[]
for i in funds:
    data = i.find("span", class_="fr-fund")
    print(data.text)
    fund.append(data.text)

₹1,00,00,000
₹9,90,00,000
₹7,85,00,000
₹1,35,00,000
₹95,00,000
₹1,05,00,000
₹4,15,00,000
₹20,00,000
₹2,85,00,000
₹3,20,00,000

In [5]:
OP = soup.find_all("li",class_="m-0")
#data = funds.find_all("span",class_="fr-fund")
op=[]
for i in range(0,len(OP),2):
    data = OP[i].find("span", class_="fr-fund")
    print(data.text)
    op.append(data.text)

8
8
8
8
8
8
8
8
8
8

In [6]:
TP = soup.find_all("li",class_="m-0 px-1")
#data = funds.find_all("span",class_="fr-fund")
tp=[]
for i in TP:
    data = i.find("span", class_="fr-fund")
    print(data.text)
    tp.append(data.text)

25
25
25
23
25
25
25
22
25
25

In [7]:
print("---------------------From Website-------------------------")
df = pd.DataFrame({"Team - Name":name,"Funds":fund,"Overseas player":op,"Total player":tp})
print(df)
print("----------------------------------------------------------")

---------------------From Website-------------------------
                   Team - Name         Funds Overseas player Total player
0          Chennai Super Kings  ₹1,00,00,000               8           25
1               Delhi Capitals  ₹9,90,00,000               8           25
2               Gujarat Titans  ₹7,85,00,000               8           25
3        Kolkata Knight Riders  ₹1,35,00,000               8           23
4         Lucknow Super Giants    ₹95,00,000               8           25
5               Mumbai Indians  ₹1,05,00,000               8           25
6                 Punjab Kings  ₹4,15,00,000               8           25
7             Rajasthan Royals    ₹20,00,000               8           22
8  Royal Challengers Bengaluru  ₹2,85,00,000               8           25
9          Sunrisers Hyderabad  ₹3,20,00,000               8           25
----------------------------------------------------------

# From Table

In [8]:
url = "https://www.iplt20.com/auction"

In [9]:
rw = requests.get(url)
print(rw)

<Response [200]>

In [10]:
soup1 = BeautifulSoup(rw.text,"lxml")

In [11]:
data = soup1.find("table",class_="ih-td-tab auction-tbl",id = "t4")
d = data.find_all("th")
head = []
for i in range(0,4):
    h = d[i]
    #print(h.text)
    head.append(h.text)
print(head)

['TEAM', 'PLAYER', 'TYPE ', 'PRICE']

In [12]:
df1 = pd.DataFrame(columns = head)
df1

Empty DataFrame
Columns: [TEAM, PLAYER, TYPE , PRICE]
Index: []

In [13]:
body = data.find_all("tr")
for i in body[1:]:
    t = i.find_all("td")
    row = [tr.text for tr in t]
    df1.loc[(len(df1))] = row

In [14]:
# Assuming your DataFrame is named df
df1.replace('\n', '', regex=True, inplace=True)

In [15]:
print("---------------------From Table-------------------------")
print(df1)
print("--------------------------------------------------------")

---------------------From Table-------------------------
                          TEAM           PLAYER        TYPE           PRICE
0        Kolkata Knight Riders  Mitchell  Starc       Bowler  ₹24,75,00,000
1          Sunrisers Hyderabad      Pat Cummins  All-Rounder  ₹20,50,00,000
2          Chennai Super Kings   Daryl Mitchell  All-Rounder  ₹14,00,00,000
3                 Punjab Kings    Harshal Patel  All-Rounder  ₹11,75,00,000
4  Royal Challengers Bengaluru   Alzarri Joseph       Bowler  ₹11,50,00,000
5               Gujarat Titans  Spencer Johnson       Bowler  ₹10,00,00,000
6          Chennai Super Kings     Sameer Rizvi       Batter   ₹8,40,00,000
7                 Punjab Kings    Rilee Rossouw       Batter   ₹8,00,00,000
8               Gujarat Titans    Shahrukh Khan  All-Rounder   ₹7,40,00,000
9             Rajasthan Royals    Rovman Powell       Batter   ₹7,40,00,000
--------------------------------------------------------